/* General Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    color: #333;
}


.mycard {
    background:#f9f9f9;
    padding: 20px;
    margin: 15px;
    width: 30%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
    transition: transform 0.1s ease;
    cursor: pointer;
}

.mycard h3 {
    margin-bottom: 15px;
    color: blue;
    font-weight:bold;
    background-color:black;
    margin-top: 10px;
}
/*.mycard h3:hover{
  color:pink;
}*/

.mycard p {
    color: black;
    font-weight:bold;
  }


.mycard:hover { 
  
    transform: scale(1.05);
}
.mycard span{
  color: deeppink;
  font-weight: bold;
}
hr{
  border: solid o.5px grey;
}
.mylogo{
  margin: 50px 130px;
  font-size: 30px;
  
}
.lefts{
  margin-left: 20px;
  
}
span.lefts{
  color: white;
  font-weight: bold;
}


/* Responsive Styles 45 */
@media (max-width: 768px) {
    .service-card {
        width:45%;
    }
}

@media (max-width: 480px) {
    .mycard {
        width: 100%;
    }
}